<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EcoMarketSpa</title>
</head>
<body>
    <section>
        <div class ="container -5">
            <p class ="text-center fs-3 mt-4">Admin EcoMarket</p>
            <div class ="row p-5">
                <div class ="col-md-4 mt-4">
                    <a href="/admin/loadAddProduct" class="text-decoration-none">
                        <div class = "card card-sh">
                            <div class="card-body text-center text-primary">
                                <i class ="fa-solid fa-square-plus fa-3x"></i>
                                <h4>Agregar producto</h4>
                            </div>
                        </div>
                    </a>
                </div>

</body>
</html>