<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a EcoMarket</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Bienvenido a EcoMarket</h1>
</header>

<nav class="container">
    <ul>
        <li><a href="/register" class="btn btn-primary">Registrarse</a></li>
        <li><a href="/login" class="btn btn-primary">Iniciar sesión</a></li>
        <li><a href="/productos" class="btn btn-primary">Ver productos</a></li>
        <li><a href="/productos/agregar" class="btn btn-primary">Agregar producto</a></li>
        <li><a href="/users" class="btn btn-primary">Lista de usuarios</a></li>
        <li><a href="/swagger-ui/index.html" class="btn btn-primary" target="_blank">Swagger</a></li>
    </ul>
</nav>
</body>
</html>