<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a EcoMarket</title>
</head>
<body>
<h1>Bienvenido a EcoMarket</h1>

<nav>
    <ul>
        <li><a th:href="@{/register}">Registrarse</a></li>
        <li><a th:href="@{/login}">Iniciar sesión</a></li>
        <li><a th:href="@{/productos}">Ver productos</a></li>
        <li><a th:href="@{/productos/agregar}">Agregar producto</a></li>
        <li><a th:href="@{/users}">Lista de usuarios</a></li>
    </ul>
</nav>
</body>
</html>
