<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <link rel="stylesheet" href="/css/styleTable.css">
</head>
<body>
<h1>Lista de usuarios</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.login}">usuario</td>
        <td th:text="${user.email}">correo@ejemplo.com</td>
        <td>
            <a th:href="@{'/edit/' + ${user.id}}">Editar</a> |
            <a th:href="@{'/delete/' + ${user.id}}"
               onclick="return confirm('¿Estás seguro de eliminar este usuario?');">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/">Volver pagina principal</a>
</body>
</html>
